@model SistemaViajes.Models.Viaje

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro de Viaje</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        Registro de Viaje
                    </div>
                    <div class="card-body">
                        <form asp-controller="Home" asp-action="RegistroViaje" method="post">
                            <div class="form-group">
                                <label asp-for="Fecha" class="form-label">Fecha</label>
                                <input asp-for="Fecha" class="form-control" type="date" required>
                            </div>
                            <div class="form-group">
                                <label asp-for="ColaboradorId" class="form-label">Colaborador</label>
                                @Html.DropDownList("ColaboradorId", ViewBag.Colaboradores as SelectList, "Seleccione un colaborador", new { @class = "form-select", required = "required" })
                            </div>
                            <div class="form-group">
                                <label asp-for="SucursalId" class="form-label">Sucursal</label>
                                @Html.DropDownList("SucursalId", ViewBag.Sucursales as SelectList, "Seleccione una sucursal", new { @class = "form-select", required = "required" })
                            </div>
                            <div class="form-group">
                                <label asp-for="TransportistaId" class="form-label">Transportista</label>
                                @Html.DropDownList("TransportistaId", ViewBag.Transportistas as SelectList, "Seleccione un transportista", new { @class = "form-select", required = "required" })
                            </div>
                            <div class="form-group">
                                <label asp-for="DistanciaKilometros" class="form-label">Distancia en Kilómetros</label>
                                <input asp-for="DistanciaKilometros" class="form-control" type="number" min="0" max="50" required>
                            </div>
                            <input type="hidden" id="UsuarioRegistrador" name="UsuarioRegistrador" value="@ViewBag.UsuarioRegistrador" />

                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Registrar Viaje</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            <a href="@Url.Action("Index", "Home")">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

